@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.contenido-principal{
    background-color: v.$blanco;
    padding: 5rem 2rem;
    

    h2{
        margin: 0;
    }

    @include m.tablet{ 
        position: relative;
        margin-top: -10rem;
        padding: 10rem 12%;
    }
    @include m.desktop{ 
        padding: 10rem;
    }
}
.experiencia{
    h2{
        margin-top: 0;
    }
}


